# Virtual environments
.venv/
venv/
*/.venv/
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
# env files
.env
.env.*
# pip cache
pip-wheel-metadata/
# IDEs
.vscode/
.idea/
# OS
.DS_Store
# node
node_modules/
# logs
*.log
# pytest
.pytest_cache/
# distribution
build/
dist/
*.egg-info/
# coverage
.coverage
coverage.xml

